/*
Uploadify styles.

Table of contents:
==================
1. General
2. Header
3. Uploader
4. Share
5. Footer
6. Manage States
7. Notifications
*/

/* 1. General
================================================== */
/* font-family: 'Epilogue', sans-serif;
font-family: 'Inter', sans-serif; */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FAFAFBFF;
    font-family: 'Inter', sans-serif;
    background: #eeedf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button:disabled{
    opacity: .5;
}

.d--none{
    display: none;
}

/* Variables */
:root{
    --blue: #1b4dff;
    --blue-light: #2e5cff;
    --green: #b7eb8f;
    --green-light: #f6ffed;
    --yellow: #ffe58f;
    --yelllow-light: #fffbe6;
    --red: #ff4d4f;
    --red-light-1: #ffccc7;
    --red-light-2: #fff2f0;
}

.uploadify {
    width: 560px;
    padding: 30px;
    background: #FFFFFFFF;
    border-radius: 6px;
    box-shadow: 0px 0px .5px #171a1f, 0px 0px .5px #171a1f;
    border: 0;
}

/* 2. Header
======================================================= */
.uploadify-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #171A1FFF;
    display: inline-block;
    margin-bottom: 24px;
    margin-top: 0;
}


/* 2. Uploader
======================================================= */
.uploadify-uploader {
    padding: 30px;
    border-radius: 0px;
    border-width: 2px;
    border-color: #BCC1CAFF;
    border-style: dashed;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FAFAFBFF;
    min-height: 212px;
    justify-content: center;
}

.hilight {
    border-color: var(--blue);
}

/* progress bar */
.progress-bar {
    display: none;
}

.uploadify-uploader .preview-image {
    display: none;
    justify-content: center;
}

.uploadify-uploader img {
    max-height: 200px;
}

/* Progess bar */
.progress-bar {
    width: 200px;
}

.progress-bar span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #171A1FFF;
    display: inline-block;
    margin-bottom: 7px;
}

.progress-slider {
    width: 100%;
    background-color: #BDDBFEFF;
    border-radius: 3px;
}

.progress-track {
    border-radius: 3px;
    width: 0;
    height: 6px;
    background-color: var(--blue-light);
    text-align: center;
    color: white;
}

.uploadify-uploader .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #6E7787FF;
}

.uploadify-uploader .contents svg {
    fill: #6E7787FF;
    width: 75px;
    height: 75px;
}

.uploader-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #171A1FFF;
}

.uploader-desc {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.or {
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
}

.browse-files {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--blue-light);
    background: #00000000;
    opacity: 1;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

/* 4. Share
======================================================= */
.share h3 {
    margin: 0 0 20px;
}

.share ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.share ul li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.share ul li span {
    font-size: 12px;
    color: #9095A1FF;
}

.share ul li a svg {
    color: #fff;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    padding: 12px;
    margin-bottom: 5px;
}

.embed svg {
    background-color: #171A1FFF;
}

.whatsapp svg {
    background-color: #0AA71CFF;
}

.facebook svg {
    background-color: #4267B2FF;
}

.twitter svg {
    background-color: #1DA1F2;
}

.email svg {
    background-color: #9095A1FF;
}

.share-this-link{
    margin-top: 30px;
    text-align: left;
    width: 100%;
    display: none;
}
.share-this-link span {
    font-size: 12px;
    font-weight: 700
}

.share-this-link .copy-link {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    gap: 6px;
}

.share-this-link input {
    background: #F3F4F6FF;
    border-radius: 4px;
    font-size: 14px;
    border: 0;
    padding: 10px 10px;
    flex-grow: 1;
    outline: none;
}

.share-this-link button {
    width: 64px;
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    background: var(--blue-light);
    color: #fff;
    border-radius: 4px;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
    line-height: 1;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* 5. Footer
======================================================= */
.uploadify-footer {
    margin-top: 24px;
    display: flex;
    gap: 15px;
    justify-content: right;
}

.cancel,
.submit,
.button-upload-another,
.share-this-link button {
    height: 36px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    line-height: 36px;
}

.submit:disabled{
    cursor: default;
}

.submit,
.button-upload-another {
    color: #FFFFFFFF;
    background: var(--blue-light);
}

.submit:hover,
.button-upload-another:hover{
    background: var(--blue);
}

.cancel {
    color: #9095A0FF;
}

.cancel:hover {
    color: #9095A0FF;
    background: #EAECEFFF;
}

.cancel:hover:active {
    color: #9095A0FF;
    background: #DEE1E6FF;
}

/* 6. Manage states
======================================================= */
/* Initial State */
.button-upload-another,
.cancel,
.share{
    display: none;
}

/* Preview State */
.state--preview .uploadify-uploader {
    background-color: transparent;
}
.state--preview .contents {
    display: none;
}
.state--preview .preview-image {
    display: flex
}

/* Uploading */
.state--uploading .contents {
    display: none;
}

.state--uploading .progress-bar {
    display: block;
}

.state--uploading .submit:disabled{
    cursor: progress;
}

/* Uploaded */
.state--uploaded .progress-slider,
.state--uploaded .contents,
.state--uploaded .cancel,
.state--uploaded .submit {
    display: none;
}

.state--uploaded .uploadify-uploader {
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #FFFFFFFF;
}
.state--uploaded .share{
    display: block;
}

.state--uploaded .share-this-link,
.state--uploaded .button-upload-another{
    display: block;
}

/* 7. Notifications
======================================================= */
.notification {
    padding: 10px 15px;
    overflow: hidden;
    word-wrap: break-word;
    transition: all 0.3s,backdrop-filter 0s;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    margin-inline-start: auto;
    background: #fff;
    margin-bottom: 20px;
    transform: translateX(-50%);
    left: 0;
    margin-left: 50%;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
      transform: translateX(-50%) translateY(100%);
    }
    to {
      transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none; /* Hide the notice after fading out */
    }
}

.animation-slide-in{
    animation: slideIn 0.5s ease-in-out;
}

/* .animation-fade-in{
    animation: fadeIn 1s forwards;
} */

.animation-fade-out{
    animation: fadeOut 1s forwards;
}

.notification-content {
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: 18px;
}

.notification-icon {
    display: inline-flex;
    align-items: center;
    color: var(--red);
}

.alert{
    background-color: var(--red-light-2);
    border: 1px solid var(--red-light-1);
}

.alert svg{
    color: var(--red);
}