$body-font: 'Inter', sans-serif;
$heading-font: 'Epilogue', sans-serif;
$times-new-roman-font: 'Times New Roman', Times, serif;

$white: #fff;
$white-bg-uploader: #fafafbff;
$white-body-bg: #eeedf2;

$gray-tooltip: #555;
$gray-content: #6e7787ff;
$gray-border-uploader: #bcc1caff;

$black: #000;
$black-logo: #171a1fff;

$blue: #1b4dff;
$blue-fb: #4267b2ff;
$blue-twitter: #1da1f2;
$blue-progress-slide: #bddbfeff;

$green-ribbon: #090;

$red: #ff4d4f;
$red-2: #ffccc7;
$red-3: #fff2f0;
